@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather|Poppins");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #090C08;
  position: relative;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.m-0 {
  margin: 0;
}
.m-xs {
  margin: 12px;
}
.m-s {
  margin: 24px;
}
.m-m {
  margin: 48px;
}
.m-l {
  margin: 72px;
}
.m-xl {
  margin: 144px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-xs {
  margin-top: 12px;
  margin-bottom: 12px;
}
.my-s {
  margin-top: 24px;
  margin-bottom: 24px;
}
.my-m {
  margin-top: 48px;
  margin-bottom: 48px;
}
.my-l {
  margin-top: 72px;
  margin-bottom: 72px;
}
.my-xl {
  margin-top: 144px;
  margin-bottom: 144px;
}

.mt-0 {
  margin-top: 0;
}
.mt-xs {
  margin-top: 12px;
}
.mt-s {
  margin-top: 24px;
}
.mt-m {
  margin-top: 48px;
}
.mt-l {
  margin-top: 72px;
}
.mt-xl {
  margin-top: 144px;
}

.center {
  text-align: center;
}

h1 {
  font-family: "Merriweather", serif;
  margin: 2rem 0.5rem;
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1rem;
  }
}

h2 {
  color: #323EEC;
  font-family: "Merriweather", serif;
  font-size: 2rem;
  margin: 2rem 0;
  text-align: center;
}
h2.with-blockquote {
  margin-top: 6rem;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  color: #090C08;
  font-family: "Merriweather", serif;
  font-size: 1.8rem;
  margin: 1.5rem 0;
}
@media (max-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}

.blockquote-block {
  background-color: #F2EFEA;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
}
.blockquote-block blockquote {
  margin: 0 auto;
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 2rem;
  width: 50%;
  position: relative;
  text-align: center;
}
@media (max-width: 768px) {
  .blockquote-block blockquote {
    width: 80%;
  }
}
.blockquote-block blockquote:before {
  content: "“";
  color: #FF1F1F;
  font-size: 4rem;
  position: absolute;
  top: 0.5rem;
  left: -3rem;
}
.blockquote-block blockquote:after {
  content: "”";
  color: #FF1F1F;
  font-size: 4rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -3rem;
}
.blockquote-block figcaption {
  margin: 0 auto;
  width: 50%;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: right;
}

video {
  max-width: 100%;
}

nav#desktop {
  background-color: #ffffff;
  height: 110px;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  z-index: 90;
}
nav#desktop div {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav#desktop .logo {
  width: 90px;
  height: 90px;
}
@media (max-width: 1100px) {
  nav#desktop .logo {
    margin: 0 auto;
  }
}
nav#desktop .logo img {
  width: 100%;
}
nav#desktop .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: inherit;
}
nav#desktop .navbar .navbar-link {
  list-style: none;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 2rem;
  position: relative;
}
nav#desktop .navbar .navbar-link:after {
  content: "";
  background-color: #FF1F1F;
  height: 3px;
  width: 50%;
  display: block;
  position: absolute;
  top: 2rem;
  left: 25%;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
nav#desktop .navbar .navbar-link:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
nav#desktop .navbar .navbar-link i {
  margin-left: 0.3rem;
}
nav#desktop .navbar .navbar-link a {
  text-decoration: none;
  color: #090C08;
}
nav#desktop .navbar .navbar-link .dropdown-menu {
  background-color: #cccccc;
  display: none;
  position: fixed;
  top: 110px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 99;
}
nav#desktop .navbar .navbar-link .dropdown-menu.active {
  display: block;
}
nav#desktop .navbar .navbar-link .dropdown-menu li {
  display: inline-block;
}
nav#desktop .navbar .navbar-link .dropdown-menu li a {
  display: block;
  padding: 1rem;
  line-height: 1.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav#desktop .navbar .navbar-link .dropdown-menu li a:hover {
  background-color: #bbbbbb;
}
nav#desktop .navbar .navbar-link .dropdown-toggle {
  position: relative;
}
nav#desktop .navbar .navbar-link .dropdown-toggle.active::after {
  content: "";
  position: absolute;
  top: 60px;
  left: calc(50% - 16px);
  z-index: 1;
  display: block;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #cccccc;
}
nav#desktop .navbar .navbar-link .dropdown-toggle i {
  color: #777777;
  margin-left: 8px;
}
@media (max-width: 1100px) {
  nav#desktop .navbar {
    display: none;
  }
}

nav#mobile {
  visibility: hidden;
}
@media (max-width: 1100px) {
  nav#mobile {
    visibility: visible;
  }
}
nav#mobile .toggler {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 30px;
  left: 16px;
  opacity: 0;
  z-index: 99;
  cursor: pointer;
}
nav#mobile .toggler-icon {
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 30px;
  left: 16px;
  z-index: 98;
  background-color: #cccccc;
}
nav#mobile .navbar-mobile {
  visibility: hidden;
  width: 40vw;
  height: 100%;
  position: fixed;
  top: 110px;
  left: 0;
  z-index: 97;
  background-color: #ffffff;
  list-style: none;
}
@media (max-width: 767px) {
  nav#mobile .navbar-mobile {
    width: 100vw;
  }
}
nav#mobile .navbar-mobile .navbar-link-1,
nav#mobile .navbar-mobile .navbar-link-2 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 16px 16px 16px;
}
nav#mobile .navbar-mobile .navbar-link-1 a,
nav#mobile .navbar-mobile .navbar-link-2 a {
  border-bottom: dotted #FF1F1F 1px;
}
nav#mobile .navbar-mobile .navbar-link-2 {
  margin-left: 30px;
  font-size: 0.8rem;
}
nav#mobile .toggler:checked ~ .navbar-mobile {
  visibility: visible;
}

header {
  color: #ffffff;
}
header#welcome {
  background-color: #323EEC;
  /* prettier-ignore */
  height: calc( 50vh - 110px );
}
@media (max-width: 768px) {
  header#welcome {
    height: 50vh;
  }
}
header#welcome .welcome-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 24rem;
}
@media (max-width: 768px) {
  header#welcome .welcome-content {
    padding-left: 12rem;
  }
}
@media (max-width: 425px) {
  header#welcome .welcome-content {
    padding-left: 4rem;
  }
}
@media (max-width: 375px) {
  header#welcome .welcome-content {
    padding-left: 0;
  }
}
header#welcome .welcome-content h1,
header#welcome .welcome-content p {
  font-family: "Delius", cursive;
  font-weight: normal;
  text-align: center;
}
header#welcome .welcome-content h1 {
  font-size: 3rem;
  margin: 0 auto 1rem;
  padding: 0;
}
@media (max-width: 768px) {
  header#welcome .welcome-content h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 425px) {
  header#welcome .welcome-content h1 {
    font-size: 1.2rem;
  }
}
header#welcome .welcome-content h1 span:before, header#welcome .welcome-content h1 span:after {
  white-space: pre;
  content: "\a";
}
header#welcome .welcome-content p {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  header#welcome .welcome-content p {
    font-size: 1rem;
  }
}
@media (max-width: 425px) {
  header#welcome .welcome-content p {
    font-size: 0.8rem;
  }
}
header#pages {
  background-color: #090C08;
  text-align: center;
  padding: 30px 0;
}
header#pages h1 {
  margin: 0;
  text-transform: lowercase;
}
header#pages h1::first-letter {
  text-transform: capitalize;
}

main {
  padding: 0;
}
main p,
main ul {
  line-height: 2rem;
  margin: 1.5em 0;
  text-align: justify;
}
main ul {
  margin-left: 2rem;
  list-style: square;
}
main ul.no-style {
  list-style: none;
}
main .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  main .img-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
main .img-container > img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  width: 0;
}
main .img-container .circle-img {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 2rem;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}
@media (max-width: 1024px) {
  main .img-container .circle-img {
    width: 250px;
    height: 250px;
  }
}
main .img-container .circle-img img {
  width: auto;
  height: 100%;
  margin-left: -75px;
}
main .img-container .circle-img img.portrait {
  width: 100%;
  height: auto;
  margin-left: 0px;
}

#aranceles .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  #aranceles .table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#aranceles .table .table-item {
  width: 100%;
  margin: 2rem;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  #aranceles .table .table-item {
    width: auto;
  }
}
#aranceles .table .table-item h4,
#aranceles .table .table-item p {
  text-align: center;
  font-style: italic;
  margin: 0;
  padding: 0;
}
#aranceles .table .table-item h4 {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  font-style: normal;
  color: #FF1F1F;
  display: block;
}
#aranceles .table .table-item .price {
  font-weight: bold;
  font-size: 1.2rem;
  font-style: normal;
  margin-top: 2rem;
}
#aranceles .table .table-item .price:before {
  content: "USD";
  margin-right: 0.5rem;
}
#aranceles .table .table-item .price sup {
  font-size: 0.6rem;
  margin-left: 0.2rem;
}

#contacto h3 {
  font-size: 1.2rem;
  margin: 1rem 0;
}
#contacto h3 i {
  margin-right: 0.5rem;
}
#contacto p {
  line-height: normal;
  margin: 0;
}
#contacto .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media (max-width: 768px) {
  #contacto .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#contacto .content .map {
  width: 65%;
}
@media (max-width: 768px) {
  #contacto .content .map {
    width: 100%;
  }
}
#contacto .content .map address {
  font-style: normal;
}
#contacto .content .map address iframe {
  margin-top: 1rem;
}
@media (max-width: 768px) {
  #contacto .content .map address iframe {
    max-width: 100%;
  }
}
#contacto .content .links {
  width: 35%;
  position: relative;
}
@media (max-width: 768px) {
  #contacto .content .links {
    width: 100%;
  }
}
#contacto .content .links:before {
  content: "";
  position: absolute;
  top: 1rem;
  left: -2rem;
  border-left: 1px dotted gray;
  height: 100%;
}

#formacion .grid-container {
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}
@media (max-width: 1023px) {
  #formacion .grid-container {
    grid-template-columns: auto;
  }
}
#formacion .grid-container .grid-item {
  -ms-flex-item-align: start;
      align-self: start;
}
@media (min-width: 1024px) {
  #formacion .grid-container .grid-item:nth-child(6n+3) {
    background-color: red;
    visibility: hidden;
  }
}
@media (min-width: 1024px) {
  #formacion .grid-container .grid-item:nth-child(6n+4) {
    background-color: red;
    visibility: hidden;
  }
}
@media (max-width: 1023px) {
  #formacion .grid-container .grid-item.left {
    display: block;
  }
}
@media (max-width: 1023px) {
  #formacion .grid-container .grid-item.right {
    display: none;
  }
}
#formacion .grid-container .grid-item h3 {
  margin-top: 0;
}
#formacion .small-circle-img {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}
#formacion .small-circle-img img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}
#formacion .small-circle-img img.portrait {
  width: 100%;
  height: auto;
  margin-left: 0px;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal .modal-content {
  border: 10px solid #fff;
  background: #fff;
}
.modal .modal-content img {
  width: 80vw;
}

footer {
  margin-top: 6rem;
  padding: 2rem;
  background-color: #323EEC;
}
footer .footer-content {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}
footer .footer-content ul {
  list-style: none;
}
footer .footer-content .footer-social,
footer .footer-content .footer-navigation,
footer .footer-content .footer-author {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  width: 0;
  padding: 1rem 0;
  font-size: 1rem;
}
footer .footer-content .footer-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  background-color: #ffffff;
  color: #323EEC;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}
footer .footer-content .author {
  padding-top: 3rem;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 30px;
}
footer .footer-content .author-logo {
  background-image: url(https://www.juandematei.com/img/logo-white.png);
  background-size: 30px;
  background-position: 0px;
  background-repeat: no-repeat;
  height: 30px;
  display: inline-block;
  padding-left: 40px;
  margin-left: 10px;
}