@import url("https://fonts.googleapis.com/css?family=Lato:400,400i|Merriweather");
* {
  margin: 0;
  padding: 0; }

.container {
  max-width: 1088px;
  margin: 0 auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

body {
  font-family: "Lato", sans-serif;
  color: #555555; }

h1 {
  font-family: "Merriweather", serif;
  margin-bottom: 30px; }

h2 {
  color: #121ec3;
  font-family: "Merriweather", serif;
  font-size: 32px;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center; }

h3 {
  color: #555555;
  font-family: "Merriweather", serif;
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 20px; }

nav {
  background-color: #FFFFFF;
  height: 90px;
  padding: 10px 0;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  z-index: 1; }
  nav .logo {
    max-height: 90px; }
  nav .navbar {
    float: right;
    padding: 20px 0; }
    nav .navbar li {
      display: inline-block;
      list-style: none;
      margin: 0 14px;
      line-height: 50px;
      font-size: 12px;
      text-transform: uppercase; }
      nav .navbar li .dropdown-link {
        position: relative; }
      nav .navbar li a {
        text-decoration: none;
        color: #555555; }
        nav .navbar li a.current-page {
          font-weight: bold; }
          nav .navbar li a.current-page:after {
            content: "";
            background-color: #ff0000;
            height: 3px;
            display: block;
            visibility: visible;
            transform: scaleX(1); }
        nav .navbar li a:after {
          content: "";
          background-color: #ff0000;
          height: 3px;
          display: block;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s; }
        nav .navbar li a:hover:after {
          visibility: visible;
          transform: scaleX(1); }
      nav .navbar li .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #FFFFFF; }
        nav .navbar li .dropdown-menu.active {
          display: block; }
        nav .navbar li .dropdown-menu li {
          display: block;
          margin: 14px; }

header {
  color: #FFFFFF; }
  header.welcome {
    background-image: url(../img/PortadaFacebook-Mangrullos.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc( 100vh - 110px); }
    header.welcome div {
      width: 50%;
      position: absolute;
      right: 0px;
      top: 300px; }
  header.pages {
    background-color: #555555;
    text-align: center;
    padding: 30px 0; }
    header.pages h1 {
      margin: 0; }

main p, main ul {
  line-height: 2em;
  margin-bottom: 1em;
  font-style: italic;
  text-align: justify; }

main .circle-img {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 60px 30px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5); }
  main .circle-img.circle-1 {
    background-image: url(../img/SD1.png); }
  main .circle-img.circle-2 {
    background-image: url(../img/SD2.jpeg); }
  main .circle-img.circle-3 {
    background-image: url(../img/SD3.JPG); }

footer {
  margin-top: 100px;
  padding: 30px 0;
  background-color: #121ec3;
  color: #FFFFFF;
  font-size: 12px; }
