@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather|Poppins");
h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  color: #323EEC;
}

h3 {
  font-size: 1.8rem;
  color: #242723;
}

.center {
  text-align: center;
}

.blockquote-block {
  background-color: #F2EFEA;
  color: #40423F;
  padding: 3rem 0;
}
.blockquote-block blockquote {
  position: relative;
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 300;
  line-height: 2rem;
  padding: 0 2rem;
}
.blockquote-block blockquote .quotes {
  color: #c1b39b;
  font-size: 2rem;
  position: absolute;
}
.blockquote-block blockquote .fa-quote-left {
  left: -0.5rem;
  top: -0.5rem;
}
.blockquote-block blockquote .fa-quote-right {
  right: -0.5rem;
  bottom: 0;
}
.blockquote-block figcaption {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-left: 2rem;
}
.blockquote-block figcaption:before {
  content: "-";
}

.m-0 {
  margin: 0;
}
.m-xs {
  margin: 12px;
}
.m-s {
  margin: 24px;
}
.m-m {
  margin: 48px;
}
.m-l {
  margin: 72px;
}
.m-xl {
  margin: 144px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-xs {
  margin-top: 12px;
  margin-bottom: 12px;
}
.my-s {
  margin-top: 24px;
  margin-bottom: 24px;
}
.my-m {
  margin-top: 48px;
  margin-bottom: 48px;
}
.my-l {
  margin-top: 72px;
  margin-bottom: 72px;
}
.my-xl {
  margin-top: 144px;
  margin-bottom: 144px;
}

.mt-0 {
  margin-top: 0;
}
.mt-xs {
  margin-top: 12px;
}
.mt-s {
  margin-top: 24px;
}
.mt-m {
  margin-top: 48px;
}
.mt-l {
  margin-top: 72px;
}
.mt-xl {
  margin-top: 144px;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-xs {
  margin-bottom: 12px;
}
.mb-s {
  margin-bottom: 24px;
}
.mb-m {
  margin-bottom: 48px;
}
.mb-l {
  margin-bottom: 72px;
}
.mb-xl {
  margin-bottom: 144px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  color: #40423F;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

img,
video {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-nav {
  background-color: #FFFFFF;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  height: 112px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1025px) {
  .main-nav {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.main-nav .logo {
  position: relative;
  padding: 16px 20px;
}
.main-nav .logo a {
  display: block;
  width: 80px;
  line-height: 0;
  margin: 0 auto;
}
.main-nav .toggle-menu {
  position: absolute;
  top: 36px;
  left: 20px;
  background-color: #E4E4E4;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  .main-nav .toggle-menu {
    display: none;
  }
}
.main-nav #toggle-dropdown {
  cursor: pointer;
}
.main-nav #toggle-dropdown__icon {
  color: #FF1F1F;
  margin-left: 0.5rem;
}
.main-nav #toggle-dropdown .rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main-nav .main-menu,
.main-nav .dropdown-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.main-nav .main-menu__item,
.main-nav .dropdown-menu__item {
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 8px;
}
@media screen and (min-width: 768px) {
  .main-nav .main-menu__item,
  .main-nav .dropdown-menu__item {
    padding: 0.5rem 0;
  }
}
.main-nav .main-menu__item.active,
.main-nav .dropdown-menu__item.active {
  border-left: 4px solid #FF1F1F;
  margin-left: -4px;
}
@media screen and (min-width: 768px) {
  .main-nav .main-menu__item.active,
  .main-nav .dropdown-menu__item.active {
    border-left: 0;
    margin-left: 0;
    border-bottom: 4px solid #FF1F1F;
    padding: 0.5rem 0;
  }
}
.main-nav .main-menu {
  background-color: #FFFFFF;
  padding: 20px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.main-nav .main-menu__show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
@media screen and (min-width: 768px) {
  .main-nav .main-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    gap: 1.5rem;
  }
}
.main-nav .main-menu .dropdown-menu {
  display: none;
}
.main-nav .main-menu .dropdown-menu__item {
  color: #5B5D5A;
  font-size: 0.9rem;
}
.main-nav .main-menu .dropdown-menu__item:hover {
  color: #FF1F1F;
}
.main-nav .main-menu .dropdown-menu__show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .main-nav .main-menu .dropdown-menu {
    position: absolute;
    margin: 0;
    padding: 1rem;
    -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }
}

.hero {
  background-color: #323EEC;
  background-image: url(../images/min/header-bg.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  color: #FFFFFF;
  -webkit-box-shadow: 50px 0px 100px 10px #090C08 inset;
          box-shadow: 50px 0px 100px 10px #090C08 inset;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-content {
  padding: 2rem 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-content .title,
.hero-content .subtitle {
  margin: 0;
  padding: 0;
}
.hero-content .title {
  font-size: 2rem;
  font-weight: 400;
}
.hero-content .title span {
  font-size: 2.2rem;
  font-weight: 600;
}
.hero-content .subtitle {
  font-size: 1.2rem;
  margin-top: 1rem;
}

main p,
main ul {
  line-height: 2rem;
  margin: 1.5em 0;
}
main ul {
  margin-left: 2rem;
  list-style: square;
}
main ul.no-style {
  list-style: none;
}

.image-slider {
  overflow: hidden;
}
.image-slider figure {
  width: 300%;
  height: 250px;
  position: relative;
  -webkit-animation: 10s slider infinite;
          animation: 10s slider infinite;
}
@media screen and (min-width: 768px) {
  .image-slider figure {
    width: 100%;
    -webkit-animation: none;
            animation: none;
  }
}
.image-slider figure img {
  width: 33.33333333%;
  height: 100%;
  float: left;
  -o-object-fit: cover;
     object-fit: cover;
}
@-webkit-keyframes slider {
  0% {
    left: 0;
  }
  30% {
    left: 0;
  }
  33% {
    left: -100%;
  }
  63% {
    left: -100%;
  }
  66% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: 0;
  }
}
@keyframes slider {
  0% {
    left: 0;
  }
  30% {
    left: 0;
  }
  33% {
    left: -100%;
  }
  63% {
    left: -100%;
  }
  66% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: 0;
  }
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .image-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.image-container .circle-img {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  overflow: hidden;
  position: relative;
}
.image-container .circle-img .portrait {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.video-container .play-button {
  background-color: rgba(9, 12, 8, 0.3);
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  cursor: pointer;
  z-index: 1;
}
.video-container .play-button .fa-circle-play {
  font-size: 4rem;
}
.video-container video {
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: 100%;
}

#sinergias .card-container {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 48px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#sinergias .card-container .card {
  background-color: #FFFFFF;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 4px;
  padding: 0 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#sinergias .card-container .card h2,
#sinergias .card-container .card p,
#sinergias .card-container .card ul {
  margin: 0;
  padding: 0;
  text-align: left;
}
#sinergias .card-container .card h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
#sinergias .card-container .card p {
  line-height: 1rem;
  margin-bottom: 1.5rem;
}
#sinergias .card-container .card-logo {
  width: 200px;
  height: 200px;
}
#sinergias .card-container .card-logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#sinergias .card-container .card-data {
  width: 100%;
}
#sinergias .card-container .card-links {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 1rem;
}
#sinergias .card-container .card-links a {
  background-color: #edeefd;
  color: #323EEC;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}
#sinergias .card-container .card-links a:hover {
  text-decoration: none;
  background-color: #323EEC;
  color: #FFFFFF;
}

#novedades {
  background-color: #F2EFEA;
  padding: 96px 0;
}
#novedades h2 {
  color: #FF1F1F;
}

.pages .title {
  background-color: #323EEC;
  color: #FFFFFF;
  padding: 2rem 20px;
  font-size: 2rem;
}
.pages .breadcrumb {
  background-color: #edeefd;
  color: #090C08;
  position: sticky;
  top: 112px;
  z-index: 998;
  margin: 0;
  padding: 0.5rem 20px;
}
.pages .breadcrumb ol {
  list-style: none;
  font-size: 0.9rem;
  margin: 0 auto;
  white-space: nowrap;
  max-width: 960px;
}
.pages .breadcrumb ol li {
  display: inline-block;
  vertical-align: middle;
}
.pages .breadcrumb ol li:nth-child(2) {
  width: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .pages .breadcrumb ol li:nth-child(2) {
    width: auto;
  }
}
.pages .breadcrumb ol li + li:before {
  margin: 0 4px;
  content: "/ ";
}
.pages .breadcrumb ol li a {
  color: #323EEC;
  text-decoration: none;
}
.pages .breadcrumb ol li a:hover {
  color: #1421d7;
  text-decoration: underline;
}

.footer {
  margin: 0 auto;
  background-color: #323EEC;
  color: #FFFFFF;
  font-size: 0.9rem;
  padding-top: 2rem;
  display: grid;
  gap: 2rem 4rem;
  grid-template-areas: "logo" "contact" "sitemap" "social" "author";
}
@media screen and (min-width: 768px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo logo" "contact sitemap" "social social" "author author";
  }
}
.footer h2,
.footer h3 {
  color: #FFFFFF;
}
.footer a {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.footer a:hover {
  text-decoration-style: solid;
}
.footer .contact,
.footer .sitemap,
.footer .author {
  width: 100%;
  padding: 0 20px;
}
.footer .contact,
.footer .sitemap {
  max-width: calc((960px - 4rem) / 2);
}
.footer .logo,
.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .logo {
  grid-area: logo;
}
.footer .logo-img {
  width: 80px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.footer .contact {
  grid-area: contact;
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}
.footer .contact-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}
.footer .contact-form label,
.footer .contact-form input,
.footer .contact-form textarea,
.footer .contact-form button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  border: none;
  outline: none;
}
.footer .contact-form input,
.footer .contact-form textarea,
.footer .contact-form button {
  border-radius: 4px;
  padding: 1rem;
}
.footer .contact-form button {
  background-color: #0d1691;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}
.footer .sitemap {
  grid-area: sitemap;
}
.footer .sitemap-links {
  list-style: none;
}
.footer .sitemap-links > li {
  margin-bottom: 0.5rem;
}
.footer .sitemap-links__group {
  list-style: none;
}
.footer .social {
  grid-area: social;
}
.footer .social-links {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 1rem;
}
.footer .social-links a {
  background-color: #F2EFEA;
  padding: 1rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .social-links a i {
  color: #323EEC;
  font-size: 1.2rem;
  text-align: center;
  width: 1.2rem;
  height: 1.2rem;
}
.footer .social-links a:hover {
  background-color: #FFFFFF;
}
.footer .author {
  grid-area: author;
  width: 100%;
  background-color: #03041c;
  padding: 2rem 0;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
}
.footer .author-logo {
  background-image: url(https://www.juandematei.com/img/logo-white.png);
  background-size: 30px;
  background-position: 0px;
  background-repeat: no-repeat;
  height: 30px;
  display: inline-block;
  padding-left: 40px;
  margin-left: 10px;
  margin-bottom: 8px;
}