#formacion-alt {
  .grid-container {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;

    @media (max-width: 768px) {
      grid-template-columns: auto;
    }

    .grid-item-img:nth-child(n + 1) {
      background-color: red;
    }

    .grid-item {
      background-color: lightblue;
      align-self: start;
    }

    h3 {
      margin-top: 0;
    }
  }
  .small-circle-img {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;

    img {
      width: auto;
      height: 100%;
      margin-left: -50px;

      &.portrait {
        width: 100%;
        height: auto;
        margin-left: 0px;
      }
    }
  }
}
