// Colors
$primary: #323EEC;
$secondary: #FF1F1F;
$tertiary: #F2EFEA;

$neutral-01: #FFFFFF;
$neutral-02: #E4E4E4;
$neutral-03: #C8C9C8;
$neutral-04: #ADAEAD;
$neutral-05: #929391;
$neutral-06: #767876;
$neutral-07: #5B5D5A;
$neutral-08: #40423F;
$neutral-09: #242723;
$neutral-10: #090C08;