footer {
  background-color: $primary-color;
  color: #FFFFFF;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  
  .footer-content {
    width: 1200px;
    display: flex;
    gap: 3rem;
    padding: 2rem 0;
    font-size: 0.9rem;
    align-self: center;

    h4 {
      margin-bottom: 0.5rem;
    }

    ul {
      list-style: none;
    }
    
    .footer-navigation,
    .footer-social {
      flex-grow: 1;
    }
    
    .footer-social {
      display: flex;
      flex-direction: column;
      i {
        display: inline-block;
        width: 16px;
        text-align: center;
        margin: 0 0.5rem;
        color: #FFFFFF;
      }
      .copyright {
        margin-top: auto;
      }
    }
  }

  .footer-author {
    background-color: darken($primary-color, $amount: 50);
    padding: 2rem 0;
    font-family: $secondary-font;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 30px;

    .logo {
      background-image: url(https://www.juandematei.com/img/logo-white.png);
      background-size: 30px;
      background-position: 0px;
      background-repeat: no-repeat;
      height: 30px;
      display: inline-block;
      padding-left: 40px;
      margin-left: 10px;
    }
  }
}
