// Footer
.footer {
  margin: 0 auto;
  background-color: $primary;
  color: $neutral-01;
  font-size: 0.9rem;
  padding-top: 2rem;
  display: grid;
  gap: 2rem 4rem;
  grid-template-areas:
    'logo'
    'contact'
    'sitemap'
    'social'
    'author';

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'logo logo'
      'contact sitemap'
      'social social'
      'author author';
  }

  h2,
  h3 {
    color: $neutral-01;
  }

  a {
    text-decoration: underline;
    text-decoration-style: dotted;

    &:hover {
      text-decoration-style: solid;
    }
  }

  .contact,
  .sitemap,
  .author {
    padding: 0 20px;
  }

  .contact,
  .sitemap {
    max-width: calc((960px - 4rem) / 2);
  }

  .logo,
  .social {
    display: flex;
    justify-content: center;
  }

  .logo {
    grid-area: logo;

    &-img {
      width: 80px;
      filter: brightness(0) invert(1);
    }
  }

  .contact {
    grid-area: contact;
    justify-self: end;
    display: flex;
    flex-direction: column;

    &-form {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      gap: 1rem;

      &__group {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }

      label,
      input,
      textarea,
      button {
        font-family: $secondary-font;
        font-size: 1rem;
        border: none;
        outline: none;
        width: 100%;
      }

      input,
      textarea,
      button {
        border-radius: 4px;
        padding: 1rem;
      }

      button {
        background-color: darken($primary, $amount: 25%);
        color: $neutral-01;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
      }
    }
  }

  .sitemap {
    grid-area: sitemap;
    &-links {
      list-style: none;

      > li {
        margin-bottom: 0.5rem;
      }

      &__group {
        list-style: none;
      }
    }
  }

  .social {
    grid-area: social;
    &-links {
      list-style: none;
      display: inline-flex;
      gap: 1rem;

      a {
        background-color: $tertiary;
        padding: 1rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: $primary;
          font-size: 1.2rem;
          text-align: center;
          width: 1.2rem;
          height: 1.2rem;
        }

        &:hover {
          background-color: $neutral-01;
        }
      }
    }
  }

  .author {
    grid-area: author;
    width: 100%;
    background-color: darken($primary, $amount: 50);
    padding: 2rem 0;
    font-family: $secondary-font;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 1rem;

    &-logo {
      background-image: url(https://www.juandematei.com/img/logo-white.png);
      background-size: 30px;
      background-position: 0px;
      background-repeat: no-repeat;
      height: 30px;
      display: inline-block;
      padding-left: 40px;
      margin-left: 10px;
      margin-bottom: 8px;
    }
  }
}
