// Hero
.hero {
  background-color: $primary;
  background-image: url(../images/min/header-bg.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  color: $neutral-01;
  //box-shadow: 50px 0px 100px 10px $neutral-10 inset;
  display: flex;
  justify-content: center;
  padding: 100px 0;

  &-content {
    padding: 2rem 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title,
    .subtitle {
      margin: 0;
      padding: 0;
    }

    .title {
      font-size: 2rem;
      font-weight: 400;

      span {
        font-size: 2.2rem;
        font-weight: 600;
      }
    }

    .subtitle {
      font-size: 1.2rem;
      margin-top: 1rem;
    }
  }
}
