// Main
main {
  h2,
  h3 {
    margin-bottom: 1rem;
  }
  p,
  ul {
    line-height: 2rem;
    margin-bottom: 1.5em;
  }

  ul {
    margin-left: 2rem;
    list-style: square;

    &.no-style {
      list-style: none;
    }
  }
}

.image-container {
  width: 300px;
  height: 300px;
  display: inline-flex;
  gap: 20px;
  justify-content: center;
  align-self: center;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    align-self: flex-start;
  }

  .round {
    border-radius: 50%;
    object-fit: cover;
  }

  img {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .play-button {
    background-color: rgba($neutral-10, $alpha: 0.3);
    color: $neutral-01;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    z-index: 1;

    .fa-circle-play {
      font-size: 4rem;
    }
  }

  video {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: 100%;
  }
}

#sinergias {
  .card-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: $spacer;
    flex-wrap: wrap;

    .card {
      background-color: $neutral-01;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      border-radius: 4px;
      padding: 0 2rem;
      width: 100%;
      display: flex;
      gap: 2rem;
      align-items: center;

      h2,
      p,
      ul {
        margin: 0;
        padding: 0;
        text-align: left;
      }

      h2 {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
        margin-top: 0;
      }

      p {
        line-height: 1rem;
        margin-bottom: 1.5rem;
      }

      &-logo {
        width: 200px;
        height: 200px;

        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &-data {
        width: 100%;
      }

      &-links {
        list-style: none;
        display: inline-flex;
        gap: 1rem;

        a {
          background-color: lighten($color: $primary, $amount: 40);
          color: $primary;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          transition: all 150ms ease-in-out;

          &:hover {
            text-decoration: none;
            background-color: $primary;
            color: $neutral-01;
          }
        }
      }
    }
  }
}

#novedades {
  .article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 2rem;
    }

    &__image {
      @media screen and (min-width: 768px) {
        max-width: 300px;
      }
    }

    &__content {
      &-title {
        font-size: 1.4rem;
      }
      &-subtitle {
        font-size: 1.2rem;
      }
      &-data {
        font-size: 0.8rem;
        color: $neutral-08;
        margin-bottom: 0;
        margin-top: 1.5rem;
        line-height: normal;
      }
      a {
        color: $primary;
      }
    }
  }
}

.accordion {
  list-style: none;
  padding: 0 20px;
  margin: 1rem 0;

  @media screen and (min-width: 768px) {
    max-width: 960px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  &-item {
    margin-bottom: 2rem;
    background-color: $neutral-01;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 4px;
    background-color: $neutral-01;
    padding: 1rem;

    @media screen and (min-width: 768px) {
      padding: 3rem;
    }

    label {
      cursor: pointer;
      display: block;

      h2 {
        margin: 0;
      }
    }

    input[type='checkbox'] {
      display: none;
    }

    &-content {
      max-height: 0;
      overflow: hidden;

      img {
        box-shadow: none;
      }
    }
  }
}

.accordion input[type='checkbox']:checked + label + .accordion-item-content {
  max-height: 100%;
}
