.pages {
  .title {
    background-color: $primary;
    color: $neutral-01;
    padding: 2rem 20px;
    font-size: 2rem;
  }

  .breadcrumb {
    background-color: lighten($primary, $amount: 40);
    color: $neutral-10;
    position: sticky;
    top: $navbar-height;
    z-index: 1;
    margin: 0;
    padding: 0.5rem 20px;
    overflow: hidden;
    text-overflow: ellipsis;

    ol {
      list-style: none;
      white-space: nowrap;
      font-size: 0.9rem;
      max-width: 960px;
      margin: 0 auto;

      li {
        display: inline-block;

        + li:before {
          padding: 0.25rem;
          content: '/\00a0';
        }

        a {
          color: $primary;
          text-decoration: none;

          &:hover {
            color: darken($primary, $amount: 10);
            text-decoration: underline;
          }
        }
      }
    }
  }
}
