// Reset & Containers
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  color: $neutral-08;
  font-family: $secondary-font;
  font-size: 1rem;
  overflow-x: hidden;
}

img,
video {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    max-width: 960px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.rotate {
  transform: rotate(180deg);
}
