// Spacing
$spacer: 48px;

// Margin
.m {
  &-0 {
    margin: 0;
  }
  &-xs {
    margin: ($spacer * 0.25);
  }
  &-s {
    margin: ($spacer * 0.5);
  }
  &-m {
    margin: $spacer;
  }
  &-l {
    margin: ($spacer * 1.5);
  }
  &-xl {
    margin: ($spacer * 3);
  }
}
.my {
  &-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  &-xs {
    margin-top: ($spacer * 0.25);
    margin-bottom: ($spacer * 0.25);
  }
  &-s {
    margin-top: ($spacer * 0.5);
    margin-bottom: ($spacer * 0.5);
  }
  &-m {
    margin-top: $spacer;
    margin-bottom: $spacer;
  }
  &-l {
    margin-top: ($spacer * 1.5);
    margin-bottom: ($spacer * 1.5);
  }
  &-xl {
    margin-top: ($spacer * 3);
    margin-bottom: ($spacer * 3);
  }
}
.mt {
  &-0 {
    margin-top: 0;
  }
  &-xs {
    margin-top: ($spacer * 0.25);
  }
  &-s {
    margin-top: ($spacer * 0.5);
  }
  &-m {
    margin-top: $spacer;
  }
  &-l {
    margin-top: ($spacer * 1.5);
  }
  &-xl {
    margin-top: ($spacer * 3);
  }
}
.mb {
  &-0 {
    margin-bottom: 0;
  }
  &-xs {
    margin-bottom: ($spacer * 0.25);
  }
  &-s {
    margin-bottom: ($spacer * 0.5);
  }
  &-m {
    margin-bottom: $spacer;
  }
  &-l {
    margin-bottom: ($spacer * 1.5);
  }
  &-xl {
    margin-bottom: ($spacer * 3);
  }
}
