// Colors
$primary-color: #121ec3;
$secondary-color: #ff0000;
$text-color: #555555;

// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i|Merriweather");

$primary-font: "Merriweather", serif;
$secondary-font: "Lato", sans-serif;

// Reset & Containers
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $secondary-font;
  color: $text-color;
  //position: relative;
  //min-height: 100vh;
}

.container {
  max-width: 1088px;
  margin: 0 auto;
}

// Typography
.center {
  text-align: center;
}

h1 {
  font-family: $primary-font;
  margin: 2em 0;
}

h2 {
  color: $primary-color;
  font-family: $primary-font;
  font-size: 32px;
  margin: 2em 0;
  text-align: center;
}

h3 {
  color: $text-color;
  font-family: $primary-font;
  font-size: 28px;
  margin: 1.5em 0;
}

// Navbar
$navbar-height: 110px;
nav {
  background-color: #ffffff;
  height: $navbar-height;
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;

  div {
    //background-color: pink;
    height: $navbar-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    //background-color: aquamarine;
    width: 90px;
    height: 90px;

    img {
      width: 100%;
    }
  }

  .navbar {
    //background-color: aqua;
    display: flex;
    align-items: center;

    .navbar-link {
      //background-color: aquamarine;
      list-style: none;
      font-size: 12px;
      line-height: 90px;
      text-transform: uppercase;
      margin-left: 2em;
      position: relative;

      &.current-page {
        //font-weight: bold;
        position: relative;

        &:after {
          content: "";
          background-color: $secondary-color;
          height: 3px;
          width: 100%;
          display: block;
          position: absolute;
          top: 70px;
          visibility: visible;
          transform: scaleX(1);
        }
      }

      &:after {
        content: "";
        background-color: $secondary-color;
        height: 3px;
        width: 100%;
        display: block;
        position: absolute;
        top: 70px;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
      }

      &:hover:after {
        visibility: visible;
        transform: scaleX(1);
      }

      i {
        margin-left: 0.5em;
      }

      a {
        text-decoration: none;
        color: $text-color;
      }

      .dropdown-menu {
        //background-color: lightcoral;
        background-color: #ffffff;
        display: none;
        position: absolute;
        top: 69px;
        box-shadow: 4px 4px 4px -4px rgba(0, 0, 0, 0.5);
        width: 100%;

        &.active {
          display: block;
        }

        li {
          display: block;
          padding: 1em;
          line-height: 1.5em;
          width: 100%;

          &:hover {
            background-color: #cccccc;
          }

          a {
            display: block;
          }
        }
      }
    }
  }
}

// Header
header {
  color: #ffffff;

  &.welcome {
    background-image: url(../../img/header-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* prettier-ignore */
    height: calc( 100vh - #{$navbar-height} );

    div {
      width: 50%;
      position: absolute;
      right: 0px;
      top: 300px;
    }
  }

  &.pages {
    background-color: $text-color;
    text-align: center;
    padding: 30px 0;

    h1 {
      margin: 0;
    }
  }
}

// Main
main {
  margin-bottom: 100px;
  min-height: calc(100vh - 250px);

  p,
  ul {
    line-height: 2em;
    margin: 1.5em 0;
    //font-style: italic;
    text-align: justify;
  }

  ul {
    margin-left: 2em;
    list-style: square;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      max-width: 400px;
    }
    .circle-img {
      display: inline-block;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      margin: 3em 2em;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      position: relative;

      img {
        width: auto;
        height: 100%;
        margin-left: -75px;

        &.portrait {
          width: 100%;
          height: auto;
          margin-left: 0px;
        }
      }
    }
  }
}

// Footer
footer {
  padding: 30px 0;
  color: #ffffff;
  background-color: $primary-color;
  font-size: 12px;

  a {
    color: inherit;
    text-decoration: none;
  }
}
