// Colors
$primary-color:   #121ec3;
$secondary-color: #ff0000;
$text-color:      #555555;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Merriweather');

$primary-font:   'Merriweather', serif;
$secondary-font: 'Lato', sans-serif;

// Reset & Containers
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1088px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: $secondary-font;
    color: $text-color;
}

// Titles
h1 {
    font-family: $primary-font;
    margin-bottom: 30px;
}

h2 {
    color: $primary-color;
    font-family: $primary-font;
    font-size: 32px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

h3 {
    color: $text-color;
    font-family: $primary-font;
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

// Navbar
nav {
    background-color: #FFFFFF;
    height: 90px; // Total height 110px
    padding: 10px 0;
    position: sticky;
    top: 0;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    z-index: 1;

    .logo {
        max-height: 90px;
    }

    .navbar {
        float: right;
        padding: 20px 0;

        a {
            float: left;
            text-decoration: none;
            text-transform: uppercase;
            color: $text-color;
            margin-left: 14px;
            line-height: 50px;
            font-size: 12px;

            &.active {
                font-weight: bold;

                &:after {
                    content: "";
                    background-color: $secondary-color;
                    height: 3px;
                    display: block;
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
            
            &:after {
                content: "";
                background-color: $secondary-color;
                height: 3px;
                display: block;
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.3s ease-in-out 0s;
            }

            &:hover:after {
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }
}

// Header
header {
    background-image: url(../img/PortadaFacebook-Mangrullos.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc( 100vh - 110px );

    .welcome {
        //background-color: pink;
        color: #FFFFFF;
        width: 50%;
        position: absolute;
        right: 0px;
        top: 300px;
    }
}

// Main
main {
    p, ul {
        line-height: 2em;
        margin-bottom: 1em;
        font-style: italic;
    }
    
    .circle-img {
        display: inline-block;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        margin: 30px;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    
        &.circle-1 {
            background-image: url(../img/SD1.png);
        }
        &.circle-2 {
            background-image: url(../img/SD2.jpeg);
        }
        &.circle-3 {
            background-image: url(../img/SD3.JPG);
        }
    }
}

// Footer
footer {
    padding: 30px 0;
    background-color: $primary-color;
    color: #FFFFFF;
    font-size: 12px;
}