// Colors
$primary-color:   #121ec3;
$secondary-color: #ff0000;
$text-color:      #555555;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Merriweather');

$primary-font:   'Merriweather', serif;
$secondary-font: 'Lato', sans-serif;

// Reset & Containers
* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: $secondary-font;
    color: $text-color;
    //position: relative;
    //min-height: 100vh;
}

.container {
    max-width: 1088px;
    margin: 0 auto;
}

// Typography
.center {
    text-align: center;
}

h1 {
    font-family: $primary-font;
    margin-bottom: 30px;
}

h2 {
    color: $primary-color;
    font-family: $primary-font;
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    color: $text-color;
    font-family: $primary-font;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 20px;
}

ul {
    margin-left: 2em;
    list-style: square;
}

// Navbar
nav {
    background-color: #FFFFFF;
    height: 90px; // Total height 110px
    padding: 10px 0;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    z-index: 1;

    .logo {
        max-height: 90px;
    }

    .navbar {
        float: right;
        padding: 20px 0;

        li {
            display: inline-block;
            list-style: none;
            // Style
            margin: 0 14px;
            line-height: 50px;
            font-size: 12px;
            text-transform: uppercase;

            .dropdown-link {
                position: relative;
            }

            a {
                text-decoration: none;
                color: $text-color;

                &.current-page {
                    font-weight: bold;

                    &:after {
                        content: "";
                        background-color: $secondary-color;
                        height: 3px;
                        display: block;
                        visibility: visible;
                        transform: scaleX(1);
                    }
                }

                &:after {
                    content: "";
                    background-color: $secondary-color;
                    height: 3px;
                    display: block;
                    visibility: hidden;
                    transform: scaleX(0);
                    transition: all 0.3s ease-in-out 0s;
                }
    
                &:hover:after {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
            .dropdown-menu {
                display: none;
                position: absolute;
                background-color: #FFFFFF;

                &.active {
                    display: block;
                }

                li {
                    display: block;
                    margin: 14px;
                }
            }
        }
    }
}

// Header
header {
    color: #FFFFFF;

    &.welcome {
        background-image: url(/src/img/PortadaFacebook-Mangrullos.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: calc( 100vh - 110px );

        div {
            width: 50%;
            position: absolute;
            right: 0px;
            top: 300px;
        }
    }

    &.pages {
        background-color: $text-color;
        text-align: center;
        padding: 30px 0;

        h1 {
            margin: 0;
        }
    }
}

// Main
main {
    margin-bottom: 100px;
    min-height: calc( 100vh - 250px);
    p, ul {
        line-height: 2em;
        margin-bottom: 1em;
        //font-style: italic;
        text-align: justify;
    }
    
    .circle-img {
        display: inline-block;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        margin: 60px 30px;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);

        &.circle-1 {
            background-image: url(/src/img/SD1.png);
        }
        &.circle-2 {
            background-image: url(/src/img/SD2.jpeg);
        }
        &.circle-3 {
            background-image: url(/src/img/SD3.JPG);
        }
    }
}

// Footer
footer {
    padding: 30px 0;
    color: #FFFFFF;
    background-color: $primary-color;
    font-size: 12px;
}